*{
  margin: 0px;
  padding: 0px;
  box-sizing:border-box;
}
html{
  font-size: 10px;
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.stacknav{
  position: fixed;
  overflow: hidden;
}
.layout{
  overflow: hidden;
}